/* last updated 5:22pm 4/29 */
body{
    background-image: linear-gradient(#FFFFFF, #4D7298);
    /* background-color: #FFFFFF; #8AF8FF; */
    margin: 0px;

}


header{
    display: flex;
    font-family: 'Arvo', serif;    
    align-items: baseline;
    justify-content: center;
    color: white;
    background-color: #4D7298;
}

.contactbody {
    display: grid;
    grid-template-rows: 0.07fr 0.32fr 1fr 0.6fr;
    grid-template-columns: repeat(9, 1fr);

    margin: 0;
    /* background-image: url("background.jpg"); */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactpageheader {
    grid-row: 1/2;
    grid-column: 1/13;
}

.contacttopleft {
    display: flex;
    flex-wrap: nowrap;
    grid-row: 1/2;
    grid-column: 1/5;
    margin-top: 5%;
    margin-left: 6%;
    font-family: 'Merriweather Sans', sans-serif;
}

.contactpagech {
    align-self: center;
    margin-right: 1.5%;
    font-size: 1.9vw
}
.ncicon{
    margin-top: 0;
    padding-top: 0;
    align-self: center;
    height: 75%;
    margin-left: 1%;
/*     color: invert(); */
}

.contactnav {
    grid-row: 1/2;
    grid-column: 1/10; 
    display: flex;
    flex-wrap: nowrap;
    margin-top: 3%;
    background-color: #4D7298;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 25px;
    justify-content: space-evenly;
    border: 1px solid black;
    transition: background 1.5s, font-size 1.5s;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0%;
}

.aboutlink{
    align-self: center;
    font-family: 'Lato', sans-serif;
    color: white;
    /* font-size: 0.8em; */
    text-decoration: none;
}
.aboutlink:hover{
    transform: scale(1.2);
    text-decoration: none;
}
.aboutlink:focus{
    transform: scale(1.2);
    text-decoration: none;
}


.contactlink{
    align-self: center;
    font-family: 'Lato', sans-serif;
    color: white;
    /* font-size: 0.8em; */
    text-decoration: none;
}
.contactlink:hover{
    transform: scale(1.2);
    text-decoration: none;
}
.contactlink:focus{
    transform: scale(1.2);
    text-decoration: none;
}


.homepagelink{
    align-self: center;
    font-family: 'Lato', sans-serif;
    color: white;
    /* font-size: 0.8em;  */
    text-decoration: none;
}
.homepagelink:hover{
    transform: scale(1.2); /* *** may need to do a transition here or something idk */
    text-decoration: none;
}
.homepagelink:focus{
    transform: scale(1.2); /* *** may need to do a transition here or something idk */
    text-decoration: none;
}


.contacttitlediv {
    display: grid;
    grid-column: 1/13;
    grid-row: 2/3;

    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact_disclaimer {
    display: grid;
    grid-column: 1/13;
    /* grid-row: 3/4; */
    justify-content: center;
    align-items: center;
    text-align: center;

}

/* .contacttitle {
    display: grid;
    grid-column: 1/13;
    grid-row: 2/3;
    font-family: 'Bigshot One', cursive;

    justify-content: center;
    align-items: center;
    text-align: center;
} */

.contacttitlefont {
    /* font-family: 'Bigshot One', cursive; */
    font-family: 'Arvo', serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .contactmessage {
    grid-column: 1/10;
    grid-row: 2/4;

    display: flex;
    font-family: 'Merriweather Sans', sans-serif;

    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;
    align-self: center;

} */

.contactmessage2 {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;

    border-radius: 10px;
    background-color: #BFACC8;
    padding: 10px;
}

#form-holder {
    grid-column: 1/10;

    display: flex;
    flex-direction: column;
    background-color: rgb(227, 227, 227);
    /* width: 80%; step 2 comment this */
    margin-left: 20px;
    margin-right: 20px;
    /* align-self: flex-start; makes the div go to the left */
    /* height: 100%; */
    padding: 15px;
    font-size: large;
    margin-bottom: 10px;

    color: #000000;
    background-color: #BFACC8;
    border-radius: 10px;
}

input{
    width: 99%;
    height: 30px;
    font-family: 'Work Sans', sans-serif;
    /* background-image: linear-gradient( #8AF8FF, #A6FFBF ); */
    background-color: white;
    border: 0px;
}
input:focus, textarea:focus {
    outline-color: rgb(241, 241, 111);
}
label {
    font-family: 'Work Sans', sans-serif;
}
textarea {
    width: 99%;
    height: 100px;
    font-family: 'Work Sans', sans-serif;
    /* background-image: linear-gradient( #8AF8FF, #A6FFBF ); */
    background-color: white;
    border: 0px;
}


nav:hover {background-color: #815355; font-size: 1.2em;}
nav:focus {background-color: #815355; font-size: 1.2em;}



/* keep grid with 9 columns for consistency */

#submit-button {
    width: stretch;
    height: 30px;
/*     font-family: 'Volkhov', serif; */
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    /* font-size: larger; */
    color: white;
    background-color: #4D7298;
    border-radius: 5px;
}

#submit-button:hover {font-size: 1.2em;}
#submit-button:focus {font-size: 1.2em;}


footer{
    background-color: #815355;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
}

#dontbeastrangerdiv {
    grid-column: 1/13;
    display: flex;

    align-items: center;
    justify-content: center;
    width: 100%;
}
#dontbeastrangerimg {
    display: flex;
    /* grid-column: 1/13; */
    margin: 20px;
    /* width: stretch; */
    /* width: fit-content; */
    align-items: center;
    object-fit: fill;
    width: 100%;
}



@media only screen and (min-width: 768px) {

    .contactnav {
        grid-row: 1/2;
        grid-column: 1/4; 
        display: flex;
        flex-wrap: nowrap;
        margin-top: 3%;
        background-color: #4D7298;
        margin-left: 3%;
        margin-right: 3%;
        border-radius: 25px;
        justify-content: space-evenly;
        border: 1px solid black;
        transition: background 1.5s, font-size 1.5s;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 0%;    
    }
}
